.exp-container{
    background-color: #ffffff;
    height: 95%;
    width: 97%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:  0.3fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    grid-template-areas:
    "back left-right left-right left-right left-right"
    " pan left-right left-right left-right left-right"
    " pan left-right left-right left-right left-right"
    " pan left-right left-right left-right left-right"
    " pan left-right left-right left-right left-right";
}
.left-right{
    background-image: url(../../images/barista2.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    grid-area: left-right;
    height: 97%;
    width: 98.5%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
}
.exp-back-btn{
    background: #7f7f7f;
    grid-area: back;
    height: 95%;
    width: 97%;
    display: grid;
    place-items: start center;
    opacity: 1;
animation-name: fadeInOpacity3;
animation-iteration-count: 1;
animation-timing-function: ease-out;
animation-duration: 0.5s;
}
.exp-panning-image{
    background-color: rgb(0, 0, 0);
    grid-area: pan;
    height: 98%;
    width: 97%;
    display: grid;
    place-items: start center;
    opacity: 1;
    animation-name: fadeInOpacity2;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}
.exp-panning-image h2{
color: white;
height: 90%;
width: 90%;
animation-name: fadeInOpacity2;
animation-iteration-count: 1;
animation-timing-function: ease-out;
animation-duration: 1.5s;
}
.exp-left{
    height: 97%;
    width: 90%;
    background-color: #bfbfbf;
    display: grid;
    place-items: start center;
    margin-bottom: 5%;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "exp-left-sub1 "
    "exp-left-sub2 "
    "exp-left-sub2 ";
background: rgba(62, 60, 60, 0.43);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 1px solid rgba(62, 60, 60, 1);
opacity: 1;
animation-name: fadeInOpacity1;
animation-iteration-count: 1;
animation-timing-function: ease-out;
animation-duration: 0.7s;
}
.exp-right-sub1{
    height: 90%;
    width: 90%;
}
.exp-right-sub2{
    height: 90%;
    width: 90%;
}
.exp-left h3{
    color: white;
}
.exp-right h3{
    color: white;
}
.exp-right{
    height: 97%;
    width: 90%;
    background-color: #bfbfbf;
    display: grid;
    place-items: start center;
    margin-bottom: 5%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "exp-right-sub1 "
    "exp-right-sub2 "
    "exp-right-sub2 ";
    background: rgba(255, 255, 255, 0);
/* From https://css.glass */
background: rgba(62, 60, 60, 0.43);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 1px solid rgba(62, 60, 60, 1);
opacity: 1;
animation-name: fadeInOpacity1;
animation-iteration-count: 1;
animation-timing-function: ease-out;
animation-duration:  0.8s;
}
.exp-left-sub1{
    height: 90%;
    width: 90%;
     grid-area: exp-left-sub1;
}
.exp-left-sub2{
    height: 90%;
    width: 90%;
     grid-area: exp-left-sub2;
}
.exp-right-sub1{
    height: 90%;
    width: 90%;
     grid-area: exp-right-sub1;
}
.exp-right-sub2{
    height: 90%;
    width: 90%;
     grid-area: exp-right-sub2;
}
.exp-left h3{
    color: white;
}
.exp-right h3{
    color: white;
}
