@media only screen and (max-width: 550px) {
    .exp-container {
        background-color: rgb(85, 45, 122);
        height: 90%;
        width: 94%;
      grid-template-columns: 1fr;
      grid-template-rows: 0.01fr 1fr ;
      grid-template-areas:
      "back"
      "about-slider-container";
    }
    .left-right{
        background-color: rgb(85, 45, 122);
        grid-area:  about-slider-container;
        height: 97%;
        width: 98.5%;
        display: grid;
        place-items: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "left"
        "right";
        padding: 0.5rem;
    }
    .exp-panning-image{
     display: none;
    }
    .exp-left{
        height: 95%;
        width: 97%;
        background-color: rgb(45, 105, 122);
        grid-area: left;
        background: rgba(62, 60, 60, 0.43);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 1px solid rgba(62, 60, 60, 1);
opacity: 1;
animation-name: fadeInOpacity1;
animation-iteration-count: 1;
animation-timing-function: ease-out;
animation-duration: 0.5s;
    }
    .exp-right{
        height: 95%;
        width: 97%;
        background-color: rgb(45, 105, 122);
        grid-area: right;
        background: rgba(62, 60, 60, 0.43);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 1px solid rgba(62, 60, 60, 1);
opacity: 1;
animation-name: fadeInOpacity1;
animation-iteration-count: 1;
animation-timing-function: ease-out;
animation-duration: 0.5s;
    }
  }